* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Asegúrate de que el html y el body ocupen toda la altura */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

header {
    position: absolute; /* Cambiar a posición absoluta */
    top: 0px; /* Ajustar la distancia desde la parte superior */
    left: 0; /* Comenzar desde la izquierda */
    right: 0; /* Terminar en la derecha */
    width: 100%; /* Asegurar que ocupe todo el ancho */
    background: rgba(26, 26, 26, 0.9); /* Fondo semitransparente */
    color: #ffffff;
    padding: 0px;
    text-align: center;
    z-index: 10; /* Asegura que el header esté por encima de la imagen */
    border-radius: 5px; /* Bordes redondeados */
}

header h1 {
    font-size: 2.5em; /* Aumenta el tamaño de la fuente */
    margin-bottom: 10px; /* Espacio inferior */
    animation: slideIn 1s ease-in-out; /* Añade una animación */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Espaciado en los enlaces */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efecto de hover */
    text-decoration: none; /* Eliminar subrayado en hover */
}

/* Animación para el título */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.imagen-portada {
    width: 100%; /* Ocupa el 100% del ancho del contenedor principal */
    max-height: 100%; /* La altura máxima de la imagen es el 100% del contenedor */
    display: block; /* Asegúrate de que la imagen se muestre como un bloque */
    position: relative; /* Para permitir que el header se posicione sobre ella */
}


